.nav-bar {
  background-color: rgba(16, 19, 40, 1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 850px;
}

.title-container p {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 23px;
  font-weight: 700;
  color: white;
}

.list-actions {
  list-style: none;
  display: flex;
  gap: 100px;
}

.list-actions li {
  border-bottom: 1.5px solid transparent;
  transition: border-color 0.2s ease;
}

.list-actions a {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgb(255, 204, 0);
  text-decoration: none;
}

.list-actions li:hover {
  border-bottom-color: rgb(230, 208, 10);
}

.list-actions:hover {
  cursor: pointer;
}
