.card-member-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: transform 1.2s ease-in-out;
}

.card-member-container p {
  font-size: 21px;
}

.card-member-container p:hover {
  color: rgba(244, 195, 0, 1);
}

.face-member {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face-member img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
