.box-container {
  min-height: 100vh;
  width: 90vw;
  margin-left: 4%;
  margin-top: 3.5%;
}

.box-title {
  color: rgb(255, 255, 255);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 1px;
  font-size: 15px;
}

.box-first-album {
  background-color: rgb(18, 18, 18);
  width: 900px;
  margin-top: 50px;
  margin-left: 300px;
  padding-left: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.box-first-album:hover {
  box-shadow: 0px 1px 10px rgb(63, 63, 63);
}

.box-first-album h2 {
  color: white;
}

.box-first-album h2:hover {
  color: rgba(244, 195, 0, 1);
}

.box-title h1 {
  margin-left: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(157, 157, 157, 1);
  color: white;
}

.container-img {
  width: 200px;
}

.container-img img {
  width: 150px;
  height: 150px;
}

.container-information {
  display: flex;
}

.container-album {
  width: 600px;
  margin-top: 5px;
  padding: 5px;
}

.container-album p {
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 19px;
  font-size: 20px;
  line-height: 30px;
}

.box-albumes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 200px;
}
