<div class="box-container">
  <div class="box-title">
    <h1>ÁLBUMES</h1>
  </div>
  <a class="box-first-album" href="https://open.spotify.com/intl-es/album/2yNaksHgeMQM9Quse463b5?si=bAAsmv3VTzu2Fedevwb6jA">
    <h2>IS THIS IT</h2>
    <div class="container-information">
      <div class="container-img">
        <img src="assets/img/isthis.jpg" alt="" />
      </div>
      <div class="container-album">
        <p>
          Is This It es el álbum debut de la banda indie-rock estadounidense The
          Strokes, publicado en el año 2001.
        </p>
      </div>
    </div>
  </a>

  <div class="box-albumes">
    <app-cards-albumes
      *ngFor="let item of images; let i = index"
      [title]="item.title"
      [imgSrc]="item.image"
      [content]="item.content"
      [href]="item.href"
      [cardClass]="setCardClass(i)"
    ></app-cards-albumes>
  </div>
</div>
