.recognition-container {
    background-color: #1d6c74;
    width: 1620px;
    min-height: 250px;
    display: flex;
    margin-left: 30px;
    margin-top: 55px;
    padding-top: 20px;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .img-r-container {
    margin-left: 40px;
  }
  
  .img-r-container img {
    width: 300px;
    height: auto;
  }
  
  .information-recognition-container {
    margin-left: 40px;
    width: 1200px;
    color: white;
  }
  
  .information-recognition-container h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .information-recognition-container p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
  }