.box-container {
  min-height: 100vh;
  width: 90vw;
  margin-left: 4%;
  margin-top: 3.5%;
}

.box-title {
  color: white;
  padding: 1px;
  border-bottom: 2px solid rgba(157, 157, 157, 1);
}

.box-title h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box-information p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  color: white;
}

.artist-influence-box {
  background-color: black;
  width: 1000px;
  border-radius: 30px;
  padding-top: 50px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

