<div class="main-container">
  <div class="main-about-ts-container">
    <div class="about-ts-container">
      <h2>ACERCA DE THE STROKES</h2>
      <p>
        The Strokes es una banda de rock estadounidense que nace hacia finales
        de los 90 con cinco chicos de familias "bien". Se trata de una banda que
        canta y edita canciones tanto de género rock, como de rock alternativo o
        del conocido habitualmente como garage rock.
      </p>
    </div>
    <div class="img-container">
      <img
        src="https://imgs.search.brave.com/5DAjY6_RJFLs91DKNRzHb0KRkaEBVr1UIt-3rZ--m3g/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5waXRjaGZvcmsu/Y29tL3Bob3Rvcy82/MjllMTA4ZjdiMTIz/MmIzYzFlNWUzZjMv/MTY6OS93XzgwMCxo/XzQ1MCxjX2xpbWl0/L1RoZS1TdHJva2Vz/LUp1bGlhbi1DYXNh/YmxhbmNhcy5qcGc"
        alt="The Strokes"
        width="200px"
      />
    </div>
  </div>
  <div class="secundary-container">
    <h1>INTEGRANTES</h1>
    <div class="members-container">
      <app-cards-members
        *ngFor="let image of images"
        [imgSrc]="image.urlImg"
        [nameMember]="image.name"
      ></app-cards-members>
    </div>
  </div>
</div>
