.main-about-ts-container {
  background-color: rgba(157, 157, 157, 1);
  width: 1620px;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 55px;
  border-radius: 20px;
  overflow: hidden;
}

.about-ts-container {
  width: 850px;
  margin-left: 40px;
  margin-top: 40px;
}

.about-ts-container h2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

.about-ts-container p {
  font-size: 23px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img-container {
  margin-right: 40px;
  margin-top: 20px;
}

.img-container img {
  width: 530px;
  height: 255px;
}

.secundary-container {
  background-color: rgb(0, 0, 0);
  width: 1470px;
  height: 380px;
  margin-top: -150px;
  margin-bottom: 20px;
  margin-left: 100px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secundary-container h1 {
  color: rgba(244, 195, 0, 1);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 20px;
}

.members-container {
  display: flex;
  gap: 70px;
  margin-top: 20px;
}
