<div class="main-home-container">
  <app-about-the-strokes></app-about-the-strokes>
  <app-recognition-in-society></app-recognition-in-society>
  <div class="box-reason">
    <div class="title-ask-reason-container">
      <div class="line"></div>
      <h3>¿POR QUÉ ESCUCHAR THE STROKES?</h3>
      <div class="line"></div>
    </div>
    <div class="reason-box">
      <app-cards-reasons *ngFor="let item of reasons" [imgSrc]="item.urlImg" [reason]="item.reason"></app-cards-reasons>
    </div>
  </div>
</div>

