.box-album-b, .box-album-g {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 650px;
  margin-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  text-decoration: none;
}

.box-album-b {
  color: white;
  background-color: rgb(18, 18, 18);
}

.box-album-b h2 {
  margin: 30px auto;
}

.box-album-g {
  color: rgb(255, 255, 255);
  background-color: #1d6c74;
}

.box-album-g h2 {
  margin: 30px auto;
}

.box-album-b:hover, .box-album-g:hover{
  box-shadow: 0px 1px 10px rgb(63, 63, 63);
}

.container-img {
  width: 200px;
}

.container-img img {
  width: 150px;
  height: 150px;
}

.container-information {
  display: flex;
}

.container-album {
  width: 400px;
  margin-top: 5px;
  padding: 5px;
}

.container-album p {
  font-size: 20px;
  line-height: 30px;
}
