.box-first-album {
  background-color: rgb(0, 0, 0);
  width: 650px;
  margin-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}

.box-first-album:hover {
  box-shadow: 0px 1px 10px rgb(63, 63, 63);
}

.box-first-album h2 {
  color: white;
  margin: 30px auto;
}

.box-first-album h2:hover {
  color: rgba(244, 195, 0, 1);
}

.box-title h1 {
  margin-left: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(157, 157, 157, 1);
  color: white;
}

.container-img {
  width: 200px;
}

.container-img img {
  width: 150px;
  height: 150px;
}

.container-information {
  display: flex;
}

.container-album {
  width: 400px;
  margin-top: 5px;
  padding: 5px;
}

.container-album p {
  color: white;
  font-size: 20px;
  line-height: 30px;
}
